<% if user_signed_in? %>
	
	<%= form_with model: @group, data: {"parsley-validate": ''}, local: true do |f| %>
		
		<div class="form-group">
			<%= f.text_field :name, reqired: true, placeholder: 'Group Name', class: 'form-control' %>
		</div>

		<div class="form-group">
			<%= f.text_field :central_location, required: true, placeholder: 'Group Central Location', class: 'form-control' %>
		</div>

		<%= f.submit class: 'btn btn-success' %>

	<% end %>
<% else %>
	<h3> <%= link_to "Sign In", new_user_session_path %> and start a group! </h3>
<% end %>

<%= @group.errors[:name][0] %>
<%= @group.errors[:user_id][0] %>