<div class="group-info">
	<p class="group-name"> <%= @group.name %> </p>
	<div class="completed-challenges-count"> <%= @groupie.challenges.where(complete: true).count %> Completed Challenges </div>
	<%= link_to "New Challenge", challenges_path, method: :post %>
</div>

<div class="challenge-wrapper">
	<div class="eatin-wrapper">
		<% if @challenge %>
			<div class="food-image">
				<%= image_tag 'food-choices/' + @challenge.food + '.png', class: 'food-emoji' %>
				</div>
			<div class="challenge-location"> <%= @challenge.location %> </div>
		<% end %>
	</div>

<iframe id="map" src="//www.google.com/maps/embed/v1/directions?origin=<%= @group.central_location %>
      &destination=<%= @challenge.location %>
      &key=AIzaSyDxEjlrSYBNlF6tMvxX2RLhVjaf3c_kras">
  </iframe>
</div>
<div class="row members-wrapper members-wrapper-closed justify-content-center">
	<div class="groupies col-10">
		<div class="group-members-title"> 
			In this Group
			<div class="accordian-toggle"></div>
		</div>
		<% @group.users.each do |groupie| %>
			<div class="groupie">
				<% if groupie.first_name == current_user.first_name %>
					<p> <%= link_to "You", groupie_path %> </p>
				<% else %>
					<p> <%= groupie.first_name %> <%= link_to groupie.first_name, groupie_path %> </p>	
				<% end %>
			</div>
			<p class="groupie"> <%= @group.name %> </p>
			<p class="groupie"> <%= @group.name %> </p>
			<p class="groupie"> <%= @group.name %> </p>
			<p class="groupie"> <%= @group.name %> </p>
			<p class="groupie"> <%= @group.name %> </p>
			<p class="groupie"> <%= @group.name %> </p>
			<p class="groupie"> <%= @group.name %> </p>
			<p class="groupie"> <%= @group.name %> </p>
			<p class="groupie"> <%= @group.name %> </p>
		<% end %>
	</div>
</div>