<div class="group-info">
	<p> <%= @group.name %> </p>
</div>

<div class="challenge-wrapper">
	<div class="eatin-wrapper">
		<%= image_tag 'eatin.svg', class: "challenge-image" %>
	</div>
</div>
<div class="row members-wrapper members-wrapper-closed justify-content-center">
	<div class="users col-10">
		<div class="group-members-title"> 
			In this Group
			<div class="accordian-toggle"></div>
		</div>
		<% @group.users.each do |user| %>
			<div class="user">
				<% if user.first_name == current_user.first_name %>
					<p> You </p>
				<% else %>
					<p> <%= user.first_name %> </p>	
				<% end %>
			</div>
				<p class="user"> <%= @group.name %> </p>
				<p class="user"> <%= @group.name %> </p>
				<p class="user"> <%= @group.name %> </p>
				<p class="user"> <%= @group.name %> </p>
				<p class="user"> <%= @group.name %> </p>
				<p class="user"> <%= @group.name %> </p>
		<% end %>
	</div>
</div> 