<div class="users">
	<% @users.each do |user| %>
		<div class="user">
			<h1> <%= user.first_name %> </h1>
			<p> <%= user.username %> </p>
			<p> <%= user.id %> </p>
			<%= link_to "See User", user_path(user) %>
			<% if current_user %>
				<%= link_to "Add Friend", friendships_path(friend_id: sender), method: :post %>
				<% end %>
			<% end %>
		</div>
	<% end %>
</div>