<h1> <%= @user.first_name %> </h1>
<%= link_to "Add Friend", friendships_path(friend_id: @user), method: :post, remote: true %>

<div class="groups">
	<% @user.groups.each do |group| %>
		<div class="group">
			<p> <%= group.name %> </p>
		</div>
	<% end %>
</div>
<% if @user == current_user %>
	<%= render @invites, sender: @sender %>
		
	<h1> requests </h1>
	<% @user.friendship_requests.each do |request| %>
		<%= request.user.first_name %>
		<%= link_to "Add Friend", friendships_path(friend_id: request.user, accepted: true), method: :post, remote: true %>
	<% end %>
<% end %>

<h1> friends </h1>
<% @user.friends.each do |friend| %>
	<%= friend.first_name %>
<% end %>
<h1> inverse friends </h1>
<% @user.inverse_friends.each do |friend| %>
	<%= friend.first_name %>
<% end %>
<h1> Friendships </h1>
<% @user.friendships.each do |friendship| %>
	<%= friendship.friend.first_name %>
	<%= link_to "remove", friendship_url(friendship), method: :delete %>
<% end %>